.window-title {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-size: 14px !important;
}

.quick-input-widget {
    position: absolute !important;
    top: 25% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin-left: 0 !important;
}

.quick-input-list-separator, .quick-input-list-entry-action-bar {
    display: none !important;
}

div#workbench\.parts\.titlebar {
    background-color: #F8EFE7 !important;
    border-bottom: none !important;
}